<% content_for(:title, @course.title) %>
<h1><%= @course.title %></h1>

<% if @course.subjects.any? %>
  <h4>Here are your Subjects:</h4>

  <ul>
    <% @course.subjects.each do |subject| %>
      <li>
        <%= link_to subject.title, subject_path(subject)%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no subjects yet!</p>
<% end %>
